


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
header {
  background-color:#160350;
  padding: 15px;
}
header ul {
  display: inline-flex;
  color: #ffffff;
  float: right;
  margin-right: 56px;
  margin-top: 80px;
  
}
header li {
  display: inline-block;
  padding: 17px 11px;


}
header p {
  display:inline-block;
  
}
.heroImg {
  background-image: url(/images/Images/mm.png);
  background-position: 55%;
  background-attachment: fixed;
  background-repeat: repeat-x;
  padding: 100px 100px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

footer {
  background-color: #160350;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 11px 19px;
  margin-left: 30px;
 
  
}
.flexContainer div {
  width: 33%;
  padding: 40px;
  margin-left: 20px;
}



/* My Work Section */
.myWork {
 
  background-color: #1;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px 400px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  ;
}
.workGrid img {
  width: ;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.img1 {
  height: ;
}
.img2 {
 height: ;
}
}
.img1, .img2, .content1, .content2, {
  padding: 0px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}


